@charset "utf-8";
:root {
    --page-inline-size: 640px;
    --page-block-size: 480px;
    --column-width: 1;
    --column-count: auto;
    --column-gap: 2em;
    --writing-mode: horizontal-tb;
    --text-orientation: mixed;
    --font-size: 16px;
    --line-height: 1.7em;
    --letter-spacing: 0.05em;
}
img.icon {width:1em; height:1em;}
footer {text-align:center;}
body {
    /*font-size:max(16px, calc(100vw / 45));*/
    font-size: calc(100vw / (var(--line-of-chars)));
    line-height:1.7em;
    letter-spacing:0.05em;
    color:#000;
    background-color:#ddd;
    font-family: 'Noto Serif JP', 'Source Han Serif JP', 'Noto Color Emoji', serif; 
}
h1,h2,h3,h4,h5,h6,th,label,caption,legend,code {font-family:'Noto Sans JP', 'Source Han Sans JP', 'Noto Color Emoji', sans-serif;}
.page *:first-child {margin-block-start:0;}
.page *:last-child {margin-block-end:0;}
em {
    font-style: normal;
    text-emphasis: var(--em-style) var(--em-color);
    -webkit-text-emphasis: var(--em-style) var(--em-color);
}
.page {
    display: none;
    inline-size: var(--page-inline-size);
    block-size: var(--page-block-size);
    column-width: var(--column-width);
    column-count: var(--column-count);
    column-gap: var(--column-gap);
    writing-mode: var(--writing-mode);
    text-orientation: var(--text-orientation);
    font-size: var(--font-size);
    line-height: var(--line-height);
    letter-spacing: var(--letter-spacing);
}
.page.show {display: block;}
